* {
    text-align: center;
}

#mainTopic {
    color: blue;
}

#mainBody {
    text-align: center;
}

h1,
h3,
h5 {
    font-family: Georgia;
}

div button {
    background-color: purple;
    color: azure;
}

.content {
    background-color: cornflowerblue;
    color: white
}

button:hover {
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n+1) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

#yes:checked+label {
    color: darkgreen;
}